%h3 みんなの質問

%table.table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td
          .media
            .media-left
              icon
            .media-body
              .title
                = link_to "#{question.title}", question
              .body
                = question.body
        %td= link_to 'Edit', edit_question_path(question), class: "btn btn-sm"
        %td= link_to 'Destroy', question, :method => :delete,
          :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"

%br

= link_to 'New Question', new_question_path
