%p#notice= notice

%h3= @question.title

.col-sm-12
  .col-sm-6
    %pre=@question.body
    .row.col-sm-12
      = render partial: 'shared/qa_info', locals: { object: @question }

= render 'answers/index'
= render 'answers/new'

