.row.col-sm-12
  %h3= link_to @question.title, edit_question_path(@question)
  .col-sm-1
    = vote_buttons @question, up_question_path(@question), down_question_path(@question)
  .col-sm-11
    .preview= markdown(@question.body)
  .row.col-sm-10.col-sm-push-1
    .col-sm-12
      - @question.tag_list.each do |tag|
        %span.badge=tag
    .col-sm-12
      = render 'shared/qa_info', { item: @question }

.row.col-sm-11.col-sm-push-1
  = render 'comments/index', { question: @question, answer: nil, parent: @question }

- if @question.has_approved_answer?
  .row.col-sm-12
    %h4 承認済みの回答
    .col-sm-11.col-sm-push-1.approved
      = render 'answers/answer', { answer: @question.approved_answer }

.row.col-sm-12
  = render 'answers/index', { answers: @question.unapproved_answers }
.row.col-sm-12
  = render 'answers/new'

