%tr
  %td
    .answer
      -# questions/showにも同じ様なところがあるパーシャルにしたいが
      -# パスが違うのでどうしたら良いかわからない
      .col-sm-1
        .vote
          .btn-block.js-vote-count
            = link_to up_question_answer_path(@question, answer), method: :post, remote: true do
              %i{class: "vote-arrow-style glyphicon glyphicon-chevron-up"}
          .btn-block.js-vote-score
            %span{class: "badge vote-score-style"}=answer.sum_votes
          .btn-block.js-vote-count
            = link_to down_question_answer_path(@question, answer), method: :delete, remote: true do
              %i{class: "vote-arrow-style glyphicon glyphicon-chevron-down"}
        .approve
          - unless @question.has_approved_answer?
            = link_to '承認する', approve_question_answer_path(@question, answer), method: :patch
      .col-sm-11
        - if answer.created_by?(current_user)
          .form-horizontal
            = form_for [ @question, answer ] do |f|
              .col-sm-11
                = f.text_area :body, { class: "form-control", rows: "5" }
              = f.button '更新', class: "btn btn-success btn-sm"
              = link_to '削除', [ @question, answer ], method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
        - else
          = markdown(answer.body)
        .row.col-sm-12
          = render 'shared/qa_info', { item: answer }
        .row.col-sm-12
          = render 'comments/index', { parent: answer }
