%tr
  %td
    .answer
      .col-sm-1
        = vote_buttons answer, up_question_answer_path(@question, answer), down_question_answer_path(@question, answer)
      .col-sm-1
        .approve
          - unless @question.has_approved_answer?
            = link_to '承認する', approve_question_answer_path(@question, answer), method: :patch
      .col-sm-10
        - if answer.created_by?(current_user)
          .form-horizontal
            = form_for [ @question, answer ] do |f|
              .col-sm-11
                = f.text_area :body, { class: "form-control", rows: "5" }
              = f.button '更新', class: "btn btn-success btn-sm"
              = link_to '削除', [ @question, answer ], method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
        - else
          = markdown(answer.body)
        .row.col-sm-12
          = render 'shared/qa_info', { item: answer }
        .row.col-sm-12
          = render 'comments/index', { question: @question, answer: answer, parent: answer }
