%h4="#{@question.answers.count}件の回答"

%table.table
  %tbody
    - @question.answers.each do |answer|
      %tr
        %td
          .media
            .media-left
              .btn-block.js-vote-count
                = link_to vote_up_question_answer_path(@question, answer), method: :post, remote: true do
                  %i{class: "vote-arrow-style glyphicon glyphicon-chevron-up"}
              .btn-block.js-vote-score
                %span{class: "badge vote-score-style"}=answer.sum_votes
              .btn-block.js-vote-count
                = link_to vote_down_question_answer_path(@question, answer), method: :delete, remote: true do
                  %i{class: "vote-arrow-style glyphicon glyphicon-chevron-down"}
            .media-body
              - if answer.created_by?(current_user)
                .form-horizontal
                  = form_for [ @question, answer ] do |f|
                    .col-sm-11
                      = f.text_area :body, { class: "form-control", rows: "5" }
                    = f.button '更新', class: "btn btn-success btn-sm"
                    = link_to '削除', [ @question, answer ], method: :delete,
                      data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
              - else
                = answer.body
              .row.col-sm-12
                = render partial: 'shared/qa_info', locals: { item: answer }
